.a2 img{
    height: 50%;
}
.navbar{
    height: 6em;
}
.container-fluid {
    padding-top: 10px;
    animation: head 2s ease-in-out;
}
@keyframes head{
    0%{
        transform: translateX(-100%);
    }
}
.container-fluid h1 span{
    font-family: Century Gothic;
    
}
.container-fluid span{
    font-family: Century Gothic;
    color: red;
}
.dropdown-menu .dropdown-item{
    color: black;
}
.dropdown-menu .dropdown-item:hover{
    color: red;
}
.collapse ul{
    padding: 0px 0px 0px 40%;
    font-size: 20px;
    
}
.nav-link{
    margin: 7px;
}
.box1{
    position: relative;
    top: 4rem;
    /* left: 10rem; */
    width: 500px;
    height: 300px;
    background-color: gray;
}
.box1 h3{
       text-align: center;
       text-transform: uppercase;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       padding-top: 10px;
}
.box1 p{
    text-align: justify;
    color:darkmagenta;
    padding: 10px 10px;
    font-weight: 900;
    font-family: Century Gothic;
}
.box2{
    position: relative;
    top: 4rem;
    /* left: 10rem; */
    width: 500px;
    height: 300px;
    background-color:maroon;
}
.box2 h3{
       text-align: center;
       text-transform: uppercase;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       padding-top: 10px;
       color: white;
}
.box2 p{
    text-align: justify;
    color:black;
    padding: 10px 10px;
    font-weight: 900;
    font-family: Century Gothic;
    
}
.boxes{
    display: flex;
    justify-content: space-evenly;
}

.bxs{
    width: 520px;
    height: 300px;
    background-color: black;
}
.bx{
    display: flex;
    margin-top: 6rem;

}
.bx2{
    background-color: red;
}
.bx h1{
    color: whitesmoke;
    letter-spacing: 4px;
    padding-top: 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bx2 h1{
    color: black;
    padding-top: 10px;
    letter-spacing: 4px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bx2 p{
    text-align: center;
    font-size: 60px;
    color: white;
}
.bx2 h6{
    text-align: justify;
    padding: 10px 10px;
    font-weight: 600;
}
.bx3,.bx1 h6{
    color: whitesmoke;
    padding: 10px 10px;
    font-weight: 600;
}
.bx3 p{
    text-align: center;
    font-size: 60px;
    color: goldenrod;
}
.timg{
    position: relative;
    top: 1em;
}
.trr1{
    margin-top: 14rem;
    display:flex ;
    justify-content: center;
}
.trr1 h3{
      padding-left: 40px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: gray;
      font-weight: 600;
      letter-spacing: 4px;
      font-size: 50px;
}
.content p{
    padding-left: 40px;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.s1{
    display: flex;
}
.s1 img{
    width: 100%;
    /* padding-left: 40px; */
}
.s2{
    display: flex;
}
.s2 img{
    width: 100%;
    /* padding-left: 40px; */
    padding-top: 10px;
}
.final{
    /* background-image: url(./images/final2.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 500px; */
    /* padding: 10px; */
    /* opacity: 1; */
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(./images/final2.jpg);
        display: flex;
        background-position: 0% 0%;
        gap: 15rem;
        margin-top: 20px;
}

.touch h4{
color: red;
font-weight: 600;
font-family: Lucida Sans;
padding: 10px;
padding-top: 70px;
opacity: 1;
padding-left: 20px;

}

html{
    scroll-behavior: smooth;
}
.touch p{
    padding-left: 10px;
    font-family: Century Gothic;
    color: white;
}
.qlink a{
    padding-left: 20px;
    color: white;
    text-decoration: none;
    font-family:Century Gothic ;
}
.qlink a:hover{
    text-decoration: underline;
    color: white;
}


.qlink h4{
    color: red;
    font-weight: 600;
    font-family: Lucida Sans;
    padding: 10px;
    padding-top: 70px;
    opacity: 1;
    }
    .partner a{
        padding-left: 20px;
        color: white;
        text-decoration: none;
        font-family:Century Gothic ;
    }
    .partner a:hover{
        text-decoration: underline;
        color: white;
    }

    
    .partner h4{
        color: red;
        font-weight: 600;
        font-family: Lucida Sans;
        padding: 10px;
        padding-top: 70px;
        opacity: 1;
        }
    
    
    .timings h4{
        color: red;
        font-weight: 600;
        font-family: Lucida Sans;
        padding: 10px;
        padding-top: 70px;
        opacity: 1;
        }
        .timings p{
            padding-left: 20px;
            color: white;
            text-decoration: none;
            font-family:Century Gothic ;
        }
        .timings span{
            color: goldenrod;
            font-weight: 800;
        }
        /* mediascreen */

        @media screen and (min-width:320px){
            .boxes {
                display: flex;
                justify-content: space-evenly;
                overflow: scroll;
                height: max-content;
                width: 300px;
                padding-left: 20px;
            }
            .s1 img {
                width: 100%;
                /* padding-left: 40px; */
                margin-top: 10px;
            }
            .s2 img {
                width: 100%;
                /* padding-left: 40px; */
                padding-top: 10px;
            }
            .timg img{
                width: 100%;
            }
            .box1 {
                position: relative;
                top: 4rem;
                /* left: 10rem; */
                width: 500px;
                height: 300px;
                background-color: gray;
                overflow: scroll;
            }
            .box2 {
                position: relative;
                top: 4rem;
                /* left: 10rem; */
                width: 500px;
                height: 300px;
                background-color: maroon;
                overflow: scroll;
            }
            .trr1 {
                margin-top: 4rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .trr1 h3 {
                padding-left: 40px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                color: gray;
                font-weight: 600;
                letter-spacing: 4px;
                font-size: 50px;
                margin-top: 30PX;
            }
            .bx h1 {
                color: whitesmoke;
                letter-spacing: 4px;
                padding-top: 10px;
                /* text-align: center; */
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                /* display: flex; */
                /* justify-content: inherit; */
                padding-right: 0em;
            }
            .bx {
                display: flex;
                margin-top: 6rem;
                flex-direction: column;
                overflow-x: hidden;
                width: 300px;
                padding-left: 20px;
            }
            .s1,.s2{
                display: flex;
                flex-direction: column;
                /* margin: 10px; */
            }
         
            .fa-solid, .fas {
                font-weight: 900;
                padding-right: 4em;
            }
            .touch h4 {
                color: red;
                font-weight: 600;
                font-family: Lucida Sans;
                padding: 10px;
                padding-top: 70px;
                opacity: 1;
                padding-left: 20px;
                font-size: 10px;
                position: relative;
              
            }
            .final {
                display: flex;
                flex-direction: column;
                font-size: 10px;
                /* overflow-y: scroll; */
                gap: 0%;
                width: 100%;
            }
            
            
            .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
                margin-top: 0;
                margin-bottom: 0.5rem;
                font-weight: 500;
                line-height: 1.2;
                width: 250px;
            }


        }
       @media  screen  and (min-width:375px){
        .navbar-light .navbar-toggler {
            color: rgba(0,0,0,.55);
            border-color: rgba(0,0,0,.1);
            padding-right: 3em;
        }
        .bx3, .bx1 h6 {
            color: whitesmoke;
            padding: 10px 10px;
            font-weight: 600;
            text-align: justify;
            width: 300px;
        }
        .bx3, .bx2 h6 {
            color: whitesmoke;
            padding: 10px 10px;
            font-weight: 600;
            text-align: justify;
            width: 320px;
        }
        .bxs h1 {
            color: whitesmoke;
            letter-spacing: 4px;
            padding-top: 10px;
            /* text-align: center; */
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            /* display: flex; */
            /* justify-content: inherit; */
            padding-right: 4em;
        }
        .bx3, .bx2 h6 {
            color: whitesmoke;
            padding: 10px 10px;
            font-weight: 600;
            text-align: justify;
            width: 500px;
        }
        .bx3 h1{
            padding-left: 2em;
        }
        .bx3 i{
              padding-left: 2em;
        }
        .fa-business-time{
            padding-left: 40px;
        }
        .bx3, .bx2 h6 {
            color: whitesmoke;
            padding: 10px 10px;
            font-weight: 600;
            text-align: justify;
            width: 400px;
        }
       }
        
       @media screen and (min-width:425px){
        .navbar-light .navbar-toggler {
            color: rgba(0,0,0,.55);
            border-color: rgba(0,0,0,.1);
            padding-right: 5em;
        }
        .boxes {
            display: flex;
            justify-content: space-evenly;
            overflow: scroll;
            height: max-content;
            width: 400px;
            padding-left: 20px;
        }
        .s2 img {
            width: 100%;
            /* padding-left: 40px; */
            padding-right: 10%;
            padding-top: 10px;
        }
        .s1 img {
            width: 100%;
            /* padding-left: 30px; */
            padding-top: 10px;
            padding-right: 10%;

        }
        .bx3, .bx2 h6 {
            color: whitesmoke;
            padding: 10px 10px;
            font-weight: 600;
            text-align: justify;
            width: 100%;
        }
        .bx3 h1 {
            /* padding-left: 2em; */
            padding-left: 35%;
        }
        .fa-solid, .fas {
            font-weight: 900;
            padding-left: 30%;
        }
        .bx3 i{
            padding-right: 5%;
            padding-left: 10%;
        }
        .bx3 h6{
            width: 100%;
        }
        .bx1 h6{
            width: 100%;

        }
        .bx1 h6 {
            width: 80%;
        }
        .bx2 h6 {
            color: whitesmoke;
            padding: 10px 10px;
            font-weight: 600;
            text-align: justify;
            width: 80%;
        }
        .final {
            display: flex;
            flex-direction: column;
            font-size: 10px;
            /* overflow-y: scroll; */
            gap: 0%;
            width: 100%;
        }
        .bxs h1 {
            color: whitesmoke;
            letter-spacing: 4px;
            padding-top: 10px;
            /* text-align: center; */
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            /* display: flex; */
            /* justify-content: inherit; */
            padding-left: 30%;
        }
        .bx {
            display: flex;
            margin-top: 6rem;
            flex-direction: column;
            overflow-x: hidden;
            width: 100%;
            padding-left: 0px;
        }

            .box{
                display: flex;
                margin-top: 6rem;
                flex-direction: column;
                overflow-x: hidden;
                width: 90%;
                padding-left: 20px;
            }
        }
        
        
       
       @media screen and (min-width:768px){
        .navbar-light .navbar-toggler {
            color: rgba(0,0,0,.55);
            border-color: rgba(0,0,0,.1);
            padding-right: 10em;
        }
        .boxes {
            display: flex;
            justify-content: space-evenly;
            overflow: scroll;
            height: max-content;
            width: 70%;
            margin-left: 30px;
        }
        .content p {
            padding-left: 40px;
            padding-top: 20px;
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            width: 600px;
        }
        
        .s1, .s2 {
            display: flex;
            flex-direction: row;
            /* margin: 10px; */
            /* padding-right: 20px; */
            position: relative;
            right: .5em;
        }
        .bx3, .bx1 h6 {
            color: whitesmoke;
            padding: 10px 10px;
            font-weight: 600;
            text-align: justify;
            width: 500px;
        }
        
        
        .bx {
            display: flex;
            margin-top: 6rem;
            margin-left: 60px;
            flex-direction: column;
            /* overflow-x: hidden; */
            /* width: 20px; */
        } 
               
        .bxs h1 {
            color: whitesmoke;
            letter-spacing: 4px;
            padding-top: 10px;
            /* text-align: center; */
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            /* display: flex; */
            /* justify-content: inherit; */
            padding-right: 0em;
        }
        .bx3, .bx2 h6 {
            color: whitesmoke;
            padding: 10px 10px;
            font-weight: 600;
            text-align: justify;
            width: 520px;
        }
        .bx3 h1 {
            padding-left: 0em;
        }
        .fa-solid, .fas {
            font-weight: 900;
            padding-left: 2em;
        }
       .bx3 .fa-business-time{
           padding-left: 2em;
        }
        .final {
            display: flex;
            flex-direction: column;
            font-size: 10px;
            /* overflow-y: scroll; */
            gap: 0%;
            width: 700px;
        }
        .touch h4 {
            color: red;
            font-weight: 600;
            font-family: Lucida Sans;
            padding: 10px;
            padding-top: 70px;
            opacity: 1;
            padding-left: 20px;
            font-size: 20px;
            position: relative;
          
        }
       }

       @media screen and (min-width:1024px){
        .navbar-expand-lg .navbar-nav {
            flex-direction: row;
            position: relative;
            right: 4em;
        }
        .d-flex {
            display: flex!important;
            /* position: r3; */
            position: relative;
            right: 4em;
        }
        .boxes {
            display: flex;
            justify-content: space-evenly;
            /* overflow: scroll; */
            height: 600px;
            width: 80%;
            margin-left: 50px;
            position: relative;
            left: 4em;


        }
        .trr1 {
            margin-top: 4rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .timg img {
            position: relative;
            top: 3em;
            right: 11m;
            height: 550px;
        }
        .trr1 h3 {
            padding-left: 40px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: gray;
            font-weight: 600;
            letter-spacing: 4px;
            font-size: 42px;
            margin-top: 30PX;
            position: relative;
            /* right: 1.8em; */
        }
        .content p {
            padding-left: 40px;
            padding-top: 20px;
            font-size: 26px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            width: 620px;
            position: relative;
            /* right: 4.8em; */
        }
        .s1, .s2 {
            display: flex;
            flex-direction: row;
            /* margin: 10px; */
            /* padding-right: 20px; */
            position: relative;
            right: 1.7em;
        }
        .s1 img {
            width: 310px;
            padding-left: 40px;
            margin-top: 10px;
        }
        .s2 img {
            width: 310px;
            padding-left: 40px;
            margin-top: 10px;
        }
        .bx {
            display: flex;
            margin-top: 6rem;
            margin-left: 16em;
            flex-direction: column;
            /* overflow-x: hidden; */
            /* width: 20px; */
        }
        .final {
            display: flex;
            flex-direction: row;
            font-size: 14px;
            /* overflow-y: scroll; */
            gap: 6%;
            width: 1040px;
        }
        .box2 {
            position: relative;
            top: 4rem;
            /* left: 10rem; */
            width: 500px;
            height: 300px;
            background-color: maroon;
            /* overflow: scroll; */
        }
        .box1 {
            position: relative;
            top: 4rem;
            /* left: 10rem; */
            width: 500px;
            height: 300px;
            background-color: gray;
            /* overflow: scroll; */
            color: black;
        }
        .box1 p {
            text-align: justify;
            /* color: ; */
            padding: 10px 10px;
            font-weight: 900;
            font-family: Century Gothic;
        }
       }
       @media screen and (min-width:1330){
        .boxes {
            display: flex;
            justify-content: space-evenly;
            /* overflow: scroll; */
            height: 700px;
            width: 90%;
            margin-left: 10px;
            position: relative;
            left: 4em;
            font-size: 20px;
        }
        .box1 {
            position: relative;
            top: 4rem;
            /* left: 10rem; */
            width: 500px;
            height: 300px;
            background-color: gray;
            /* overflow: scroll; */
        }
        .box2 {
            position: relative;
            top: 4rem;
            /* left: 10rem; */
            width: 500px;
            height: 300px;
            background-color: maroon;
            /* overflow: scroll; */
        }
        .bx{
            display: flex;
            flex-direction: row;
        }
        .bx {
            display: flex;
            margin-top: 6rem;
            /* margin-left: 16em; */
            flex-direction: row;
            /* overflow-x: hidden; */
            /* width: 20px; */
        }
        .final {
            display: flex;
            flex-direction: row;
            font-size: 24px;
            /* overflow-y: scroll; */
            gap: 7%;
            width: 100%;
        }
       }