.head{
    text-align: center;
    text-transform: uppercase;
    color: red;
    letter-spacing: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
   
}

.navbar{
    height: 6em;
}
.container-fluid {
    padding-top: 10px;
    animation: head 2s ease-in-out;
}
@keyframes head{
    0%{
        transform: translateY(-100%);
    }
}
.container-fluid h1 span{
    font-family: Century Gothic;
    
}
.container-fluid span{
    font-family: Century Gothic;
    color: red;
    font-size: 40px;
}
.dropdown-menu .dropdown-item{
    color: black;
}
.dropdown-menu .dropdown-item:hover{
    color: red;
}
.collapse ul{
    padding: 0px 0px 0px 40%;
    font-size: 20px;
    
}
.nav-link{
    margin: 7px;
}
.phone i{
    color: darkgray;
    font-size: 50px;
   border: 3px solid red;
   width: 76px;
   padding-left: 10px;
   padding-top: 10px;
   height: 76px;
   border-radius: 5px;
}

.mail i{
    color: darkgray;
    font-size: 50px;
    border: 3px solid red;
    width: 76px;
    padding-left: 10px;
    padding-top: 10px;
    height: 76px;
    border-radius: 5px;

}
.location i{
    color:darkgray;
    font-size: 50px;
    border: 3px solid red;
    width: 76px;
    padding-left: 10px;
    padding-top: 10px;
    height: 76px;
    border-radius: 5px;
}



span{
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 900;
}
.contact{
    display: flex;
    padding-left: 30px;
    margin-top: 50px;
}
.reg{
    padding-left: 40px;
}
input{
    width: 500px;
    font-size: 40px;
    height: 40px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
}
textarea{
width: 500px;
padding: 10px;
border: 2px solid black;
font-size: 40px;
}
.ctct{
  background-image: url(./images/con1.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 60px;
  justify-content: space-evenly;

}
.final{
    /* background-image: url(./images/final2.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    /* opacity: 1; */
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(./images/final2.jpg);
        display: flex;
        margin-top: 40px;
}

.touch h4{
color: red;
font-weight: 600;
font-family: Lucida Sans;
padding: 10px;
padding-top: 70px;
opacity: 1;
padding-left: 20px;
}
.touch {
    padding-left: 5rem   ;
}
html{
    scroll-behavior: smooth;
}
.touch p{
    padding-left: 10px;
    font-family: Century Gothic;
    color: white;
}
.qlink a{
    padding-left: 20px;
    color: white;
    text-decoration: none;
    font-family:Century Gothic ;
}
.qlink a:hover{
    text-decoration: underline;
    color: white;
}
.qlink{
    
        padding-left: 7rem;
}

.qlink h4{
    color: red;
    font-weight: 600;
    font-family: Lucida Sans;
    padding: 10px;
    padding-top: 70px;
    opacity: 1;
    }
    .partner a{
        padding-left: 20px;
        color: white;
        text-decoration: none;
        font-family:Century Gothic ;
    }
    .partner a:hover{
        text-decoration: underline;
        color: white;
    }
    .partner{
        
            padding-left: 10rem;
    }
    
    .partner h4{
        color: red;
        font-weight: 600;
        font-family: Lucida Sans;
        padding: 10px;
        padding-top: 70px;
        opacity: 1;
        }
        .timings{
        
            padding-left: 17rem;
    }
    .timings h4{
        color: red;
        font-weight: 600;
        font-family: Lucida Sans;
        padding: 10px;
        padding-top: 70px;
        opacity: 1;
        }
        .timings p{
            padding-left: 20px;
            color: white;
            text-decoration: none;
            font-family:Century Gothic ;
        }
        .timings span{
            color: goldenrod;
            font-weight: 800;
            font-size: 16px;
        }   


        /*-----------media query 320px------------*/

        @media screen and (min-width:320px) {
            .name h1  {
                /* font-size: calc(1.375rem + 1.5vw); */
                font-size: 21px;
                
            }
            .name h1 span {
                /* font-size: calc(1.375rem + 1.5vw); */
                font-size: 28px;
            }
            .head h1{
                font-size: large;
            }
            .ctct{
                flex-direction: column;
            }
            span{
                font-size: 21px;

            }
            .contact{
                flex-direction: column;
            }
            iframe {
                width: 100%;
                padding-right: 10%;
            }
            
            .reg input{
                width: 100%;
            }
            textarea{
                width: 100%;
            }
            .reg {
                padding-left: 0px;
            }
          .final{
            flex-direction: column;
            height: auto;
          }
          .touch {
            padding-left: 1rem;
        }
        .qlink {
            padding-left: 2rem;
        }
        .partner {
            padding-left: 2rem;
        }
        .timings {
            padding-left: 2rem;
        }
        
        }
           
        
        /*-----------media query 375px------------*/

        @media screen and (min-width:375px) {
            .navbar-light .navbar-toggler {
                color: rgba(0,0,0,.55);
                margin-right: 17%;
                border-color: rgba(0,0,0,.1);
            }
        }
           
        
        /*-----------media query 425px------------*/

        @media screen and (min-width:425px) {
            .navbar-light .navbar-toggler {
                color: rgba(0,0,0,.55);
                border-color: rgba(0,0,0,.1);
                margin-right: 26%;
            }
            
            
        }
        
        /*-----------media query 768px------------*/

        @media screen and (min-width:768px) {
            .navbar-light .navbar-toggler {
                color: rgba(0,0,0,.55);
                border-color: rgba(0,0,0,.1);
                margin-right: 3%;
            }
            .head h1 {
                font-size: xx-large;
                
            }
            .ctct {
                flex-direction: row;
            }
            .reg {
                padding-right: 59px;
            }
        }
           
         
        /*-----------media query 1024px------------*/

        @media screen and (min-width:1024px) {
            .navbar-expand-lg .navbar-nav {
                flex-direction: row;
                margin-left: -28%;
            }
            .contact{
                display: flex;
                flex-direction: row;
            }
            iframe {
                border: 0;
                width: 54%;
            }
            .reg{
                width: 50%;
            }
            .final{
                flex-direction: row;

            }

   
}
 /*-----------media query 1440px------------*/
        @media screen and (min-width:1440px){
            .navbar-expand-lg .navbar-collapse {
                display: flex!important;
                flex-basis: auto;
                padding-left: 26%;
            }
            .final{
                font-size: x-large;
                gap: 8%;
            }
        }
             
